.container {
  min-height: 100vh;
  background: #fff;
}
.logo {
  height: 32px;
  padding: 32px;
  background: #fff;
}
.bottom {
  height: 32px;
  margin: 0px;
  background: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.button {
  color: #000;
}
