.some {
    width: 100%;
    margin-top: 1rem;
}

.cardParent {
    @extend .some;
    display: flex;
    justify-content: flex-end;
}

.justifyBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardDesign {
    width: 350px;
    background-color: lightgray;
}