.bellIcon {
  // background-color: #fcfcfc;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  // margin-right: 24px;
  cursor: pointer;
}

.languageIcon {
  // background-color: #fcfcfc;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  padding: 6px;
  cursor: pointer;
}

.admin {
  border-radius: 6px;
  // background: #fcfcfc;
  padding: 5px 24px;
  border-radius: 6px;
  width: 238px !important;
  border: 0.5px solid rgba(0, 0, 0, 0.10);
  cursor: pointer;

  li {
    // background-color: red !important;
  }
}


.a {
  font-family: Montserrat, sans-serif !important;
}


.notification {
  margin-left: -350px !important;
}

.dropNot {}